flow1.json
[
    {
        "id": "366ad3f5b39ce2b5",
        "type": "pushover api",
        "z": "e69adaf4e7d12b79",
        "keys": "b3c1dafcb5bd072b",
        "title": "Motion detected While owner is out ",
        "name": "Send Notification",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "06c0704eb19006c2",
        "type": "mqtt in",
        "z": "e69adaf4e7d12b79",
        "name": "",
        "topic": "home/owner",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "62239cfd406d2876",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "56413b701ade2221"
            ]
        ]
    },
    {
        "id": "56413b701ade2221",
        "type": "function",
        "z": "e69adaf4e7d12b79",
        "name": "function 4",
        "func": "// Get current time\nlet now = new Date();\nlet hours = now.getHours();\n\nlet isOwnerOut = msg.payload.hasOwnProperty('owner out') && msg.payload['owner out'] === true;\n\n\n// Check if door is open\nlet motion = true;\n\n// Format the current time\nlet timeString = now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true });\n\n// Proceed only if both conditions are met\nif (isOwnerOut && motion) {\n    msg.payload = `Motion Detected in house while owner is out at  ${timeString}!`;\n    msg.title = \"Door Alert\";\n    msg.priority = 0;\n    return msg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "366ad3f5b39ce2b5"
            ]
        ]
    },
    {
        "id": "b3c1dafcb5bd072b",
        "type": "pushover-keys",
        "name": ""
    },
    {
        "id": "62239cfd406d2876",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]